/target
/classes
/checkouts

profiles.clj
pom.xml
pom.xml.asc

*.jar
*.log
*.class

/.lein-*
/.nrepl-port
/resources/public/js
/out
/.env
/.repl

yarn.lock
node_modules

.lsp
.calva
.shadow-cljs

public/*
public/js
!public/index.html
